<div>
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            账号{{account.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-if="!account"><a ui-sref="app.login">登录</a></li>
            <li><a ui-sref="app.coupons">我的优惠券</a></li>
            <li><a ui-sref="app.index({areaId:areaId})" >抽奖</a></li>
        </ul>
    </div>
</div>    
