<div class="container">
    <label style="float: right;">我的优惠券</label>
    <table style="width: 100%" class="table">
        <tr ng-repeat="couponItem in couponListModel.data.couponList | orderBy:'created_at':true track by couponItem.id">
            <td>
                {{couponItem.shopName}}
            </td>
            <td>
                {{couponItem.name}}
            </td>
            <td>
                抵用{{showCouponInfo(couponItem)}}
            </td>
            <td style="width: 60px">
                <span ng-click="showQrCode(couponItem)" ng-if="couponItem.status == 'enabled'">展示</span>
            </td>
        </tr>
    </table>
</div>
