<div class="container-fluid ninecoupon-qrcode" style="min-height: 60vh;padding: 0px" >
    <img src="assets/images/qrcode-background-top.png">
    <div  class="qrcode-label">
        <label>{{ qrcodeModel.title }}</label>
    </div>
    <qrcode data="{{qrcodeModel.data}}" version="12" error-correction-level="Q" size="200" class="center-block" style="position: relative; top: calc(50% - 100px); width: 200px;"></qrcode>
    <div class="qrcode-label">
        <label>建议截屏保存，或者收藏网页</label>
    </div>
</div>

