
.ninecoupon-qrcode-background > div{
    margin-top: 50px;
    margin-left: 16%;
    margin-right: 16%;
}


.ninecoupon-qrcode > img{ 
    width: calc(100% + 40px);
    position: relative;
    top: -20px;
    left: -20px;
}

.ninecoupon-qrcode .qrcode-label {
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.ninecoupon-qrcode .qrcode-label span {
    color: gray;
}
.ninecoupon-background{
    background-color: #fff1c7;
}

.ninecoupon-radius-border{
    border-radius: 4px;
}